<%= form_with(model: board) do |form| %>
  <form>
    <% if board.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

        <ul>
          <% board.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label for="name">Name</label>
      <%= form.text_field :name, class:"form-control", placeholder: "Enter name" %>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <%= form.email_field :email, class:"form-control", placeholder: "Enter email" %>
    </div>
    <div class="form-group">
      <label for="width">Width</label>
      <%= form.number_field :width, class:"form-control", placeholder: "Enter width" %>
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <%= form.number_field :height, class:"form-control", placeholder: "Enter height" %>
    </div>
    <div class="form-group">
      <label for="number-of-mine">Number of Mine</label>
      <%= form.number_field :number_of_mine, class:"form-control", placeholder: "Enter number of mine" %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<% end %>